n100_xxz_cs/average.py
n100_xxz_cs/fitness_history_n100_sample0.dat
n100_xxz_cs/fitness_history_n100_sample1.dat
n100_xxz_cs/fitness_history_n100_sample2.dat
n100_xxz_cs/fitness_history_n100_sample3.dat
n100_xxz_cs/fitness_history_n100_sample4.dat
n100_xxz_cs/fitness_history_n100_sample5.dat
n100_xxz_cs/fitness_history_n100_sample6.dat
n100_xxz_cs/fitness_history_n100_sample7.dat
n100_xxz_cs/fitness_history_n100_sample8.dat
n100_xxz_cs/fitness_history_n100_sample9.dat
n100_xxz_cs/fitness_history_n100_sample10.dat
n100_xxz_cs/fitness_history_n100_sample11.dat
n100_xxz_cs/fitness_history_n100_sample12.dat
n100_xxz_cs/fitness_history_n100_sample13.dat
n100_xxz_cs/fitness_history_n100_sample14.dat
n100_xxz_cs/fitness_history_n100_sample15.dat
n100_xxz_cs/fitness_history_n100_sample16.dat
n100_xxz_cs/fitness_history_n100_sample17.dat
n100_xxz_cs/fitness_history_n100_sample18.dat
n100_xxz_cs/fitness_history_n100_sample19.dat
n100_xxz_cs/ga100.ini
n100_xxz_cs/gmod.py
n100_xxz_cs/jn100sample0.dat
n100_xxz_cs/jn100sample1.dat
n100_xxz_cs/jn100sample2.dat
n100_xxz_cs/jn100sample3.dat
n100_xxz_cs/jn100sample4.dat
n100_xxz_cs/jn100sample5.dat
n100_xxz_cs/jn100sample6.dat
n100_xxz_cs/jn100sample7.dat
n100_xxz_cs/jn100sample8.dat
n100_xxz_cs/jn100sample9.dat
n100_xxz_cs/jn100sample10.dat
n100_xxz_cs/jn100sample11.dat
n100_xxz_cs/jn100sample12.dat
n100_xxz_cs/jn100sample13.dat
n100_xxz_cs/jn100sample14.dat
n100_xxz_cs/jn100sample15.dat
n100_xxz_cs/jn100sample16.dat
n100_xxz_cs/jn100sample17.dat
n100_xxz_cs/jn100sample18.dat
n100_xxz_cs/jn100sample19.dat
n100_xxz_cs/nvsmaxfid.dat
n100_xxz_cs/__pycache__/gmod.cpython-311.pyc
n100_xxz_not_cs/average.py
n100_xxz_not_cs/fitness_history_n100_sample0.dat
n100_xxz_not_cs/fitness_history_n100_sample1.dat
n100_xxz_not_cs/fitness_history_n100_sample2.dat
n100_xxz_not_cs/fitness_history_n100_sample3.dat
n100_xxz_not_cs/fitness_history_n100_sample4.dat
n100_xxz_not_cs/fitness_history_n100_sample5.dat
n100_xxz_not_cs/fitness_history_n100_sample6.dat
n100_xxz_not_cs/fitness_history_n100_sample7.dat
n100_xxz_not_cs/fitness_history_n100_sample8.dat
n100_xxz_not_cs/fitness_history_n100_sample9.dat
n100_xxz_not_cs/fitness_history_n100_sample10.dat
n100_xxz_not_cs/fitness_history_n100_sample11.dat
n100_xxz_not_cs/fitness_history_n100_sample12.dat
n100_xxz_not_cs/fitness_history_n100_sample13.dat
n100_xxz_not_cs/fitness_history_n100_sample14.dat
n100_xxz_not_cs/fitness_history_n100_sample15.dat
n100_xxz_not_cs/fitness_history_n100_sample16.dat
n100_xxz_not_cs/fitness_history_n100_sample17.dat
n100_xxz_not_cs/fitness_history_n100_sample18.dat
n100_xxz_not_cs/fitness_history_n100_sample19.dat
n100_xxz_not_cs/ga100.ini
n100_xxz_not_cs/gmod.py
n100_xxz_not_cs/jn100sample0.dat
n100_xxz_not_cs/jn100sample1.dat
n100_xxz_not_cs/jn100sample2.dat
n100_xxz_not_cs/jn100sample3.dat
n100_xxz_not_cs/jn100sample4.dat
n100_xxz_not_cs/jn100sample5.dat
n100_xxz_not_cs/jn100sample6.dat
n100_xxz_not_cs/jn100sample7.dat
n100_xxz_not_cs/jn100sample8.dat
n100_xxz_not_cs/jn100sample9.dat
n100_xxz_not_cs/jn100sample10.dat
n100_xxz_not_cs/jn100sample11.dat
n100_xxz_not_cs/jn100sample12.dat
n100_xxz_not_cs/jn100sample13.dat
n100_xxz_not_cs/jn100sample14.dat
n100_xxz_not_cs/jn100sample15.dat
n100_xxz_not_cs/jn100sample16.dat
n100_xxz_not_cs/jn100sample17.dat
n100_xxz_not_cs/jn100sample18.dat
n100_xxz_not_cs/jn100sample19.dat
n100_xxz_not_cs/nvsmaxfid.dat
n100_xxz_not_cs/__pycache__/gmod.cpython-311.pyc
n100_xxz_not_cs_2nbox/average.py
n100_xxz_not_cs_2nbox/fitness_history_n100_sample0.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample1.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample2.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample3.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample4.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample5.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample6.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample7.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample8.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample9.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample10.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample11.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample12.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample13.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample14.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample15.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample16.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample17.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample18.dat
n100_xxz_not_cs_2nbox/fitness_history_n100_sample19.dat
n100_xxz_not_cs_2nbox/ga100.ini
n100_xxz_not_cs_2nbox/gmod.py
n100_xxz_not_cs_2nbox/jn100sample0.dat
n100_xxz_not_cs_2nbox/jn100sample1.dat
n100_xxz_not_cs_2nbox/jn100sample2.dat
n100_xxz_not_cs_2nbox/jn100sample3.dat
n100_xxz_not_cs_2nbox/jn100sample4.dat
n100_xxz_not_cs_2nbox/jn100sample5.dat
n100_xxz_not_cs_2nbox/jn100sample6.dat
n100_xxz_not_cs_2nbox/jn100sample7.dat
n100_xxz_not_cs_2nbox/jn100sample8.dat
n100_xxz_not_cs_2nbox/jn100sample9.dat
n100_xxz_not_cs_2nbox/jn100sample10.dat
n100_xxz_not_cs_2nbox/jn100sample11.dat
n100_xxz_not_cs_2nbox/jn100sample12.dat
n100_xxz_not_cs_2nbox/jn100sample13.dat
n100_xxz_not_cs_2nbox/jn100sample14.dat
n100_xxz_not_cs_2nbox/jn100sample15.dat
n100_xxz_not_cs_2nbox/jn100sample16.dat
n100_xxz_not_cs_2nbox/jn100sample17.dat
n100_xxz_not_cs_2nbox/jn100sample18.dat
n100_xxz_not_cs_2nbox/jn100sample19.dat
n100_xxz_not_cs_2nbox/nvsmaxfid.dat
n100_xxz_not_cs_2nbox/__pycache__/gmod.cpython-311.pyc
n100_xxz_not_cs_nbox/average.py
n100_xxz_not_cs_nbox/fitness_history_n100_sample0.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample1.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample2.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample3.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample4.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample5.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample6.dat
n100_xxz_not_cs_nbox/fitness_history_n100_sample7.dat
n100_xxz_not_cs_nbox/ga100.ini
n100_xxz_not_cs_nbox/gmod.py
n100_xxz_not_cs_nbox/jn100sample0.dat
n100_xxz_not_cs_nbox/jn100sample1.dat
n100_xxz_not_cs_nbox/jn100sample2.dat
n100_xxz_not_cs_nbox/jn100sample3.dat
n100_xxz_not_cs_nbox/jn100sample4.dat
n100_xxz_not_cs_nbox/jn100sample5.dat
n100_xxz_not_cs_nbox/jn100sample6.dat
n100_xxz_not_cs_nbox/jn100sample7.dat
n100_xxz_not_cs_nbox/nvsmaxfid.dat
n100_xxz_not_cs_nbox/__pycache__/gmod.cpython-311.pyc
n120_xxz_cs/average.py
n120_xxz_cs/fitness_history_n120_sample0.dat
n120_xxz_cs/fitness_history_n120_sample1.dat
n120_xxz_cs/fitness_history_n120_sample2.dat
n120_xxz_cs/fitness_history_n120_sample3.dat
n120_xxz_cs/fitness_history_n120_sample4.dat
n120_xxz_cs/fitness_history_n120_sample5.dat
n120_xxz_cs/fitness_history_n120_sample6.dat
n120_xxz_cs/fitness_history_n120_sample7.dat
n120_xxz_cs/fitness_history_n120_sample8.dat
n120_xxz_cs/fitness_history_n120_sample9.dat
n120_xxz_cs/fitness_history_n120_sample10.dat
n120_xxz_cs/fitness_history_n120_sample11.dat
n120_xxz_cs/fitness_history_n120_sample12.dat
n120_xxz_cs/fitness_history_n120_sample13.dat
n120_xxz_cs/fitness_history_n120_sample14.dat
n120_xxz_cs/fitness_history_n120_sample15.dat
n120_xxz_cs/fitness_history_n120_sample16.dat
n120_xxz_cs/fitness_history_n120_sample17.dat
n120_xxz_cs/fitness_history_n120_sample18.dat
n120_xxz_cs/fitness_history_n120_sample19.dat
n120_xxz_cs/ga120.ini
n120_xxz_cs/gmod.py
n120_xxz_cs/jn120sample0.dat
n120_xxz_cs/jn120sample1.dat
n120_xxz_cs/jn120sample2.dat
n120_xxz_cs/jn120sample3.dat
n120_xxz_cs/jn120sample4.dat
n120_xxz_cs/jn120sample5.dat
n120_xxz_cs/jn120sample6.dat
n120_xxz_cs/jn120sample7.dat
n120_xxz_cs/jn120sample8.dat
n120_xxz_cs/jn120sample9.dat
n120_xxz_cs/jn120sample10.dat
n120_xxz_cs/jn120sample11.dat
n120_xxz_cs/jn120sample12.dat
n120_xxz_cs/jn120sample13.dat
n120_xxz_cs/jn120sample14.dat
n120_xxz_cs/jn120sample15.dat
n120_xxz_cs/jn120sample16.dat
n120_xxz_cs/jn120sample17.dat
n120_xxz_cs/jn120sample18.dat
n120_xxz_cs/jn120sample19.dat
n120_xxz_cs/nvsmaxfid.dat
n120_xxz_cs/__pycache__/gmod.cpython-311.pyc
n120_xxz_not_cs_nbox/average.py
n120_xxz_not_cs_nbox/fitness_history_n120_sample0.dat
n120_xxz_not_cs_nbox/ga120.ini
n120_xxz_not_cs_nbox/gmod.py
n120_xxz_not_cs_nbox/jn120sample0.dat
n120_xxz_not_cs_nbox/nvsmaxfid.dat
n120_xxz_not_cs_nbox/__pycache__/gmod.cpython-311.pyc
